<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моделирование. Проверка теоремы Фишера</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">

    <h2>    Моделирование. Проверка теоремы Фишера    </h2>

    <h3>Симуляция начата</h3>
    <p>
    <div class="sbutton">
        <form th:action="@{/monitor/} + ${simulationid}" method="GET" class="centeredcontent">
            <button class="sbutton">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Обновить</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;
            </button>
        </form>
    </div>
    </p>

    <br/>
    <p>
        Предел популяции: <span th:text="${populationlimit}"/><br/>
        Предел поколений: <span th:text="${generationslimit}"/><br/>
        Частота полезных мутаций: <span th:text="${beneficialrate}"/><br/>
        Эффект полезных мутаций: <span th:text="${beneficialeffect}"/><br/>
        Частота вредных мутаций: <span th:text="${deleteriousrate}"/><br/>
        Эффект вредных мутаций: <span th:text="${deleteriouseffect}"/><br/>
    </p>
</div>

</body>
</html>