<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моделирование. Проверка теоремы Фишера</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">

    <h2>    Моделирование. Проверка теоремы Фишера    </h2>

    <h3>Симуляция начата</h3>
    <p>
    <div class="sbutton">
        <form th:action="@{/running/} + ${simulationid}" method="GET" class="centeredcontent">
            <button class="sbutton">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Обновить</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;
            </button>
        </form>
    </div>
    </p>
    <p>
        <span th:text = "${simulationstatus}"/>
    </p>
    <p class="centeredcontent">
        <img src="images/evo.png"/>
        <br>
    </p>


</div>


</body>
</html>