<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моделирование. Проверка теоремы Фишера</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">

    <h2>    Моделирование. Проверка теоремы Фишера    </h2>

    <p>
        <span th:text = "${running}"/>
        <br/>
        <b>Формулировка теоремы</b><br/>
        'Скорость нарастания приспособленности любого организма в любой момент
        равна генетической вариации в этот момент.'
    </p>
    </p>
    <p>
        <div class="sbutton">
            <form action="/running" method="POST" class="centeredcontent">
                <img src="images/evo.png"/>
                <br>
                <button class="sbutton">
                    <br>&nbsp;&nbsp;&nbsp;
                    <b>Запустить моделирование</b>
                    &nbsp;&nbsp;&nbsp;<br>&nbsp;
                </button>
                <br/>

                <table>
                    <th><td colspan="2">Популяция и симуляция</td></th>
                    <tr><td>    Предел численности: </td><td>
                        <input th:value="${populationlimit}" name="populationlimit" type="number"/>
                    </td></tr>
                    <tr><td>    Предел поколений: </td><td>
                        <input th:value="${generationslimit}" name="generationslimit" type="number"/>
                    </td></tr>

                    <th><td colspan="2">Мутации</td></th>
                    <tr><td>    Частота благоприятных мутаций (доля на поколение): </td><td>
                        <input th:value="${beneficialrate}" name="beneficialrate" type="number"/>
                    </td></tr>
                    <tr><td>    Эффект благоприятных мутаций (доля от 1): </td><td>
                        <input th:value="${beneficialeffect}" name="beneficialeffect" type="number"/>
                    </td></tr>

                    <tr><td>    Частота вредных мутаций (доля на поколение): </td><td>
                        <input th:value="${deleteriousrate}" name="deleteriousrate" type="number"/>
                    </td></tr>
                    <tr><td>    Эффект вредных мутаций (доля от 1): </td><td>
                        <input th:value="${deleteriouseffect}" name="deleteriouseffect" type="number"/>
                    </td></tr>
                </table>
            </form>
        </div>
    </p>

    <p></p>
            <hr/>
    <p></p>

    <h2>Фундаментальная теория отбора Фишера</h2>
    <p>
        <i>Price GR (1972b)</i>
        <b>Fisher’s ‘fundamental theorem’ made clear.</b>
        <i>Ann Hum Genet Lond 36:129–140</i>
        <a href="https://doi.org/10.1111/j.1469-1809.1972.tb00764.x">
            <div class="centeredcontent">
                <img class="centeredcontent" src="images/ahgenet.png"/>
            </div>
            doi.org/10.1111/j.1469-1809.1972.tb00764.x
        </a>
    </p>
    <p>
        В формальной математической записи суть теоремы описывается следующими уравнениями:
        <br>
        <img src="images/main-formula.png"/>
        <br>
        где: m - приспособленность
        <br> t - время
        <br> Pi - репродуктивность каждой субпопуляции с заданными вариациями
    </p>
    <p>
        Вместе с потоком новых мутаций уравнение:
        <br>
        <img src="images/with-mutations-formula.png"/>
    </p>

</div>
</body>
</html>